<mat-icon mat-dialog-close class="close-button cursor-pointer">close</mat-icon>
<h2 class="header" mat-dialog-title>Add a table</h2>

<form [formGroup]="tableForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <label class="input-label" for="name">Name*</label>
        <input placeholder="Ex.Computer Software" type="text" id="name" name="name" formControlName="name"/>

        <label class="input-label" for="icons">Icon</label>
        <div [matMenuTriggerFor]="menu" class="input-group">
            <input type="text" id="icons" name="icons" formControlName="icons" readonly/>
            <mat-icon aria-hidden="false" class="dropdown-toggle">keyboard_arrow_down</mat-icon>
            <mat-menu #menu="matMenu" overlapTrigger="false" direction="bottom">
                <emoji-mart class="w-100" (emojiSelect)="select($event)"></emoji-mart>
            </mat-menu>
        </div>

        <label class="input-label" for="color">Color</label>
        <div [matMenuTriggerFor]="color" class="input-group">
            <input type="color" id="color" name="color" formControlName="color" readonly/>
            <mat-icon aria-hidden="false" class="dropdown-toggle">keyboard_arrow_down</mat-icon>
            <mat-menu #color="matMenu" overlapTrigger="false" direction="bottom">
                <app-color-picker (colorChange)="colorChange($event)"></app-color-picker>
            </mat-menu>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="tableForm.invalid" [mat-dialog-close]="true" type="submit">Submit</button>
        <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>