<div class="prosector">
  <div class="sidebar">
    <img class="align-start" src="./../assets/graphic-file.png">
    <ul class="list-style-type-none p-0">
      <li class="sidebar-item">
        <img class="profie-pic" src="./../assets/bell.png">
      </li>
      <li class="sidebar-item">
        <img class="profie-pic" src="./../assets/apps.png">
      </li>
      <li class="sidebar-item">
        <img class="profie-pic" src="./../assets/profile-pic.png">
      </li>
    </ul>
  </div>
  <div class="menu">
    <div class="header">
      <span class="fs-30-bold">Prospector</span>
    </div>
    <div class="px-20">
      <input id="search" type="text" placeholder="Search for a table or a segment">
    </div>
    <div class="px-20 py-20" style="margin-bottom: auto;">
      <span class="fs-14-bold-grey">SEGMENT</span>
      <ul class="list-style-type-none p-0">
        <li class="py-10 fs-14-bold-black cursor-pointer">🖖 Segment 1</li>
        <li class="py-10 fs-14-bold-black cursor-pointer">🌼  Segment 1</li>
        <li class="py-10 fs-14-bold-black cursor-pointer">🖖 Segment 1</li>
        <li class="py-10 fs-14-bold-black cursor-pointer">🖖 Segment 1</li>
        <li class="py-10 fs-14-bold-black cursor-pointer">🖖 Segment 1</li>
      </ul>
    </div>
    <button mat-raised-button color="primary" class="add-segment-button">+ Add Segment</button>
  </div>
  <div class="main">
    <emoji-mart (emojiSelect)="select($event)"></emoji-mart>
  </div>
</div>