.prosector {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Inter';
    
    @supports (display: grid) {
      display: grid;
      grid-template-columns: 75px 250px 1fr;
      grid-template-rows: 1fr;
    }
}

.fs-14-bold-grey{
    font-size: 14px;
    font-weight: bold;
    color: rgba(60, 60, 60, 0.7);
}

.fs-14-bold-black{
    font-size: 14px;
    font-weight: bold;
    color: #181818;
}

.fs-30-bold{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

.m-0{
    margin: 0px
}

.p-0{
    padding: 0px
}

.px-20{
    padding-left: 20px;
    padding-right: 20px;
}

.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}


.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-style-type-none{
    list-style-type: none;
}

.cursor-pointer{
    cursor: pointer;
}

.sidebar {
    width: 4%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    background: #E8E8E8;
}

.sidebar-item{
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.align-start{
    margin-top: 2em;
    margin-bottom: auto;
    justify-self: flex-end;
}

.menu{
    width: 20%;
    left: 4%;
    top: 0;
    bottom: 0;
    position: fixed;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
}

.main{
    width: 76%;
    left: 24%;
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
}

.header{
    padding: 30px;
}

input#search{
    width: 100%;
    height: 35px;
    border: 1px solid #cccccc;
    border-radius: 2px;
}

input#search::placeholder{
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: rgba(60, 60, 60, 0.5);
    opacity: 1; /* Firefox */
}
  
input#search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: rgba(60, 60, 60, 0.5);
    opacity: 1; /* Firefox */
}
  
input#search::-ms-input-placeholder { /* Microsoft Edge */
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: rgba(60, 60, 60, 0.5);
    opacity: 1; /* Firefox */
}

.add-segment-button{
    text-align: left;
    margin: 2.75em 0.75em;
}




